@model ProjetoAlugar.ViewsModels.AtualizarUsuarioViewModel
@{
    ViewData["Title"] = "Atualiza usuário " + Model.NomeUsuario;
}


<form asp-action="Atualizar">
    <div class="row">
        <div class="col-md-4 offset-md-1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CPF" class="control-label">CPF</label>
                <input asp-for="CPF" class="form-control cpf" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Telefone" class="control-label">Telefone</label>
                <input asp-for="Telefone" class="form-control telefone" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="NomeUsuario" class="control-label">Nome de Usuário</label>
                <input asp-for="NomeUsuario" class="form-control" />
                <span asp-validation-for="NomeUsuario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">E-mail</label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group text-right">
                <input type="submit" value="Salvar" class="btn btn-outline-success" />
                <a asp-action="Index" asp-controller="Usuario" class="btn btn-outline-secondary">Voltar</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>

    <script>
        $(function () {
            $(".cpf").mask("999.999.999-99");
            $(".telefone").mask("(99) 9 9999-9999");
        })
    </script>
}


