@using Microsoft.AspNetCore.Identity

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="sidenav">
        <a asp-action="Index" asp-controller="Usuario">Olá, @UserManager.GetUserName(User)</a>
        <a asp-action="Index" asp-controller="Usuario">Meus Dados</a>
        <a asp-action="Index" asp-controller="Carro">Carros</a>
        @if (User.IsInRole("Administrador"))
        {
            <a asp-action="Index" asp-controller="NivelAcesso">Nível de Acesso</a>
            <a asp-action="Index" asp-controller="Conta">Saldo</a>
        }
        <a asp-action="Sair" asp-controller="Usuario">Sair</a>
    </div>
}